#features {
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
}

#gallery {
    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    /* to match column gap */
}

@media (max-width: 1200px) {
    #gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

#gallery img:hover {
    filter: none;
}

#team {
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aliceblue;
}

#pricing {
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#video {
    margin-left: 25%;
    margin-top: 100px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-right: 20%;
    padding-left: 20%;
}